body {
  background-color: transparent;
}

.result-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.result-div span {
  padding: 5px 0px;
}

.submit-form {
  display: block;
  border: none;
  margin: 0 auto;
}
